# Week 5 Project

## Assignment instruction

## Code

### Importing requirements and configuration

In [8]:
# Imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Configuration
sns.set(color_codes=True)

In [6]:
data = pd.read_csv('./data.csv', index_col=0)

### Exploratory analysis

In [21]:
print("Row count is %i and column count is %i" % (data.shape[0], data.shape[1]))

Row count is 4955 and column count is 217

In [22]:
print(data.dtypes)

Bus Voltage-1    float64
Bus Voltage-2    float64
Bus Voltage-3    float64
Bus Voltage-4    float64
Bus Voltage-5    float64
                  ...
Qflow Bus 9-6    float64
Qflow Bus 9-7    float64
Qflow Bus 9-8    float64
Qflow Bus 9-9    float64
Risk Factor      float64
Length: 217, dtype: object

In [23]:
data.head(5)

,Bus Voltage-1,Bus Voltage-2,Bus Voltage-3,Bus Voltage-4,Bus Voltage-5,Bus Voltage-6,Bus Voltage-7,Bus Voltage-8,Bus Voltage-9,Bus Angles-1,...,Qflow Bus 9-1,Qflow Bus 9-2,Qflow Bus 9-3,Qflow Bus 9-4,Qflow Bus 9-5,Qflow Bus 9-6,Qflow Bus 9-7,Qflow Bus 9-8,Qflow Bus 9-9,Risk Factor
0,1.04,1.025,1.025,1.051752,1.052997,1.045422,1.045174,1.044088,1.044771,0.0,...,0.0,0.0,-34.356254,0.0,0.0,-15.395107,0.0,-10.467886,0.0,0.0
1,1.04,1.025,1.025,1.045137,1.021813,1.036321,1.036890,1.035527,1.038926,0.0,...,0.0,0.0,-24.130608,0.0,0.0,-25.342725,0.0,-7.625909,0.0,0.0
2,1.04,1.025,1.025,1.048968,1.048291,1.038432,1.042474,1.039527,1.042019,0.0,...,0.0,0.0,-29.542666,0.0,0.0,-18.642362,0.0,-11.757630,0.0,0.0
3,1.04,1.025,1.025,1.044267,1.038909,0.963355,1.030858,1.022136,1.023767,0.0,...,0.0,0.0,2.386848,0.0,0.0,-29.549593,0.0,-17.076432,0.0,0.0
4,1.04,1.025,1.025,1.045679,1.043050,1.030835,1.039573,1.034735,1.039076,0.0,...,0.0,0.0,-24.394474,0.0,0.0,-22.055516,0.0,-13.056821,0.0,0.0

In [24]:
data.tail()

,Bus Voltage-1,Bus Voltage-2,Bus Voltage-3,Bus Voltage-4,Bus Voltage-5,Bus Voltage-6,Bus Voltage-7,Bus Voltage-8,Bus Voltage-9,Bus Angles-1,...,Qflow Bus 9-1,Qflow Bus 9-2,Qflow Bus 9-3,Qflow Bus 9-4,Qflow Bus 9-5,Qflow Bus 9-6,Qflow Bus 9-7,Qflow Bus 9-8,Qflow Bus 9-9,Risk Factor
4950,1.04,1.025,1.025,1.022635,1.004011,0.991431,0.994074,0.938196,1.029415,0.0,...,0.0,0.0,-5.661925,0.0,0.0,-14.718980,0.0,0.000000,0.0,1.000000
4951,1.04,1.025,1.025,1.027433,1.015501,0.992841,1.020574,0.995342,1.021973,0.0,...,0.0,0.0,7.369517,0.0,0.0,-26.645341,0.0,-29.016037,0.0,0.600000
4952,1.04,1.025,1.025,1.021805,0.926699,0.975947,0.996676,0.971266,1.006635,0.0,...,0.0,0.0,34.230410,0.0,0.0,-42.484784,0.0,-20.966076,0.0,0.333333
4953,1.04,1.025,1.025,1.023242,1.009582,0.984257,1.016618,0.988397,1.018144,0.0,...,0.0,0.0,14.075830,0.0,0.0,-30.354750,0.0,-30.882850,0.0,0.333333
4954,1.04,1.025,1.025,1.008458,0.963597,0.660016,0.961055,0.902734,0.930127,0.0,...,0.0,0.0,168.227852,0.0,0.0,-56.304444,0.0,-38.204832,0.0,0.466667

In [7]:
data.describe()

,Bus Voltage-1,Bus Voltage-2,Bus Voltage-3,Bus Voltage-4,Bus Voltage-5,Bus Voltage-6,Bus Voltage-7,Bus Voltage-8,Bus Voltage-9,Bus Angles-1,...,Qflow Bus 9-1,Qflow Bus 9-2,Qflow Bus 9-3,Qflow Bus 9-4,Qflow Bus 9-5,Qflow Bus 9-6,Qflow Bus 9-7,Qflow Bus 9-8,Qflow Bus 9-9,Risk Factor
count,4955.00,4.954000e+03,4.954000e+03,4953.000000,4952.000000,4952.000000,4952.000000,4953.000000,4952.000000,4952.0,...,4952.0,4950.0,4954.000000,4952.0,4951.0,4953.000000,4951.0,4953.000000,4951.0,4955.000000
mean,1.04,1.025000e+00,1.025000e+00,1.030615,1.012222,0.992949,1.027330,1.010639,1.026794,0.0,...,0.0,0.0,-2.138187,0.0,0.0,-23.967733,0.0,-17.177089,0.0,0.359435
std,0.00,8.694382e-08,4.262115e-08,0.011505,0.030708,0.045277,0.011577,0.024159,0.013757,0.0,...,0.0,0.0,24.133414,0.0,0.0,11.801733,0.0,9.000140,0.0,0.313263
min,1.04,1.025000e+00,1.025000e+00,0.955229,0.721258,0.656563,0.948898,0.846970,0.930127,0.0,...,0.0,0.0,-37.289933,0.0,0.0,-61.323504,0.0,-58.314593,0.0,0.000000
25%,1.04,1.025000e+00,1.025000e+00,1.024550,1.003742,0.982244,1.023329,1.002573,1.023959,0.0,...,0.0,0.0,-16.647164,0.0,0.0,-30.440607,0.0,-21.854165,0.0,0.066667
50%,1.04,1.025000e+00,1.025000e+00,1.032420,1.019263,1.004649,1.029734,1.016790,1.030133,0.0,...,0.0,0.0,-8.026925,0.0,0.0,-23.841514,0.0,-16.839227,0.0,0.333333
75%,1.04,1.025000e+00,1.025000e+00,1.038855,1.030515,1.019588,1.034868,1.026336,1.035039,0.0,...,0.0,0.0,2.912500,0.0,0.0,-17.377912,0.0,-12.511528,0.0,0.666667
max,1.04,1.025004e+00,1.025002e+00,1.053839,1.056295,1.052275,1.046161,1.047696,1.046448,0.0,...,0.0,0.0,168.227852,0.0,0.0,0.400269,0.0,1.448158,0.0,1.000000

In [26]:
duplicate_rows_df = data[data.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape[0])

number of duplicate rows:  0

In [27]:
data.count()

Bus Voltage-1    4955
Bus Voltage-2    4954
Bus Voltage-3    4954
Bus Voltage-4    4953
Bus Voltage-5    4952
                 ...
Qflow Bus 9-6    4953
Qflow Bus 9-7    4951
Qflow Bus 9-8    4953
Qflow Bus 9-9    4951
Risk Factor      4955
Length: 217, dtype: int64

In [39]:
# Finding the null values.
miss_count = data.isnull().sum()
print("Maximum missing values is %i\n" % np.max(miss_count))
print("Number of missing data points per column is: \n%s "% (miss_count))

Maximum missing values is 6

Number of missing data points per column is:
Bus Voltage-1    0
Bus Voltage-2    1
Bus Voltage-3    1
Bus Voltage-4    2
Bus Voltage-5    3
                ..
Qflow Bus 9-6    2
Qflow Bus 9-7    4
Qflow Bus 9-8    2
Qflow Bus 9-9    4
Risk Factor      0
Length: 217, dtype: int64